.button {
  padding: 8px 16px;
  border-radius: var(--border-radius-md);
  border-width: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  cursor: pointer;
}

.button-dark {
  background-color: var(--color-primary-5);
  color: var(--White) !important;
}
.button-dark p {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.button-light {
  background-color: var(--White);
  color: var(--color-primary-5) !important;
  border-width: 2px;
  border-color: var(--color-primary-5);
}

/* class */
.mr-top-md {
  margin-top: var(--mr-top-md);
}

.mr-top-lg {
  margin-top: var(--mr-top-lg);
}

.mr-top-sm {
  margin-top: var(--mr-top-sm);
}

.mr-bottom-md {
  margin-bottom: var(--mr-bottom-md);
}

.mr-bottom-lg {
  margin-bottom: var(--mr-bottom-lg);
}

.mr-bottom-sm {
  margin-bottom: var(--mr-bottom-sm);
}

div.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.container {
  width: 80%;
}

div#container-vision {
  display: grid;
  grid-template-columns: 5fr 2fr;
  -moz-column-gap: 103px;
       column-gap: 103px;
  padding-top: 119px;
}
div#container-vision div.option p {
  margin-block-start: 16px;
  margin-block-end: 16px;
}
div#container-vision div.option p.title {
  font-size: var(--fs-xl);
  font-weight: var(--fw-md);
}
div#container-vision div.option p.detail {
  font-size: var(--fs-md);
  font-weight: var(--fw-sm);
}
div#container-vision div#img-vision img {
  width: 100%;
  height: auto;
}

div#container-target {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100% !important;
  padding: 78px 0px;
  background-image: url("./image/Frame3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 56px;
}
div#container-target p#text-target {
  font-size: var(--fs-xl);
  font-weight: var(--fw-md);
}
div#container-target div#list-target {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 32px;
       column-gap: 32px;
  row-gap: 24px;
  width: 80% !important;
}
div#container-target div#list-target div.target {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: var(--border-radius-md);
  background-color: var(--White);
  padding: 16px;
}
div#container-target div#list-target div.target p.title {
  font-size: var(--fs-md);
  font-weight: var(--fw-md);
}
div#container-target div#list-target div.target p.detail {
  text-align: center;
  font-size: var(--fs-md);
  font-weight: var(--fw-sm);
}

div#container-member-work {
  width: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--White);
  padding: 60px 0px;
}
div#container-member-work div#member-work {
  width: 80%;
  display: grid;
  grid-template-columns: 3fr 4fr;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
div#container-member-work div#member-work div#member-work-img {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
div#container-member-work div#member-work div#member-work-img img {
  width: 100%;
  max-width: 100%;
}
div#container-member-work div#member-work div#list-team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div#container-member-work div#member-work div#list-team div.team {
  width: 100%;
}
div#container-member-work div#member-work div#list-team div.team div.name-team {
  font-size: var(--fs-xl);
  font-weight: var(--fw-md);
}
div#container-member-work div#member-work div#list-team div.list-option {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
div#container-member-work div#member-work div#list-team div.list-option div.option {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
div#container-member-work div#member-work div#list-team div.list-option div.option img {
  margin-top: 4px;
}
div#container-member-work div#member-work div#list-team div.list-option div.option p.detail {
  margin-block-start: 0px;
  font-size: var(--fs-md);
  color: var(--color-grey-4);
}
div#container-member-work div#member-work div#list-team div.list-option div.option p.detail span.name {
  color: var(--Black);
}

div#container-member-master {
  width: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 45px 0px;
  background-color: var(--color-primary-1);
}
div#container-member-master p#member-title {
  font-size: var(--fs-xl);
}
div#container-member-master div#list-member-master {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 32px;
       column-gap: 32px;
  row-gap: 24px;
}
div#container-member-master div#list-member-master div.member {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--White);
  padding: 24px;
  border-radius: var(--border-radius-md);
}
div#container-member-master div#list-member-master div.member p {
  margin-block-end: 0px;
}
div#container-member-master div#list-member-master div.member p.name {
  text-align: center;
}
div#container-member-master div#list-member-master div.member p.detail {
  text-align: center;
  color: var(--color-grey-4);
}
div#container-member-master div#list-member-master div.member div.member-img {
  width: 126px;
  height: 126px;
  border-radius: 126px;
  background-color: var(--color-grey-4);
}
div#container-member-master div#list-member-master div.member div.member-img img {
  vertical-align: middle;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 960px) {
  div#container-member-work div#member-work {
    grid-template-columns: 1fr;
  }
  div#container-member-work div#list-team {
    margin-top: 24px;
  }
  div#container-member-master div#list-member-master {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 769px) {
  div#container-target div#list-target {
    grid-template-columns: 1fr;
  }
  div#container-vision {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
  }
}
@media screen and (max-width: 640px) {
  div#container-member-master div#list-member-master {
    grid-template-columns: repeat(1, 1fr);
  }
}/*# sourceMappingURL=style.css.map */